.view {
  width: 300px;
  min-height: 500px;
  margin: 20px;

  .body {
    height: 450px;
    margin: 10px;

    .center {
      width: 200px;
      height: 450px;
      outline-style: solid;
      outline-width: thin;
      float: left;
    }

    .right {
      margin-left: 10px;
      width: 70px;
      height: 450px;
      outline-style: solid;
      outline-width: thin;
      float: left,
    }
  }

  .footer {
    height: 50px;
    outline-style: solid;
    outline-width: thin;
    margin: 10px;
    float: none;
  }
}
